@font-face {
    font-family: Gothic;
    src: url(../fonts/Deutsch.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/Misty-Mountain.jpg);
    width: 100%;
    margin:0;
    //border-top: 5px solid #7e7e7e;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#logInBox {
    border: 1px solid black;
    padding: 5%;
    border-radius: 5px;
    margin: 20% 35% 0;
    background-color: rgba(0,0,0,0.7);
    width: 30%;
    height: 90%;
}

#mainFrame {
    border: 1px solid black;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    width:90%;
    margin: 5%;
    display: flex;
}

#fireElem {
    margin-top: -13.5%;
}

.mainBlock {
    width: 33.33%;
//border: 2px solid black;
    float: left;
    padding: 15px;
}

.healthWrapperPlayer,.healthWrapperBoss {
    width: 70%;
    height: 20px;
    border: 1px solid green;
}

.healthWrapperBoss {
    width: 100%;
}

.healthBar {
    background: red;
    height: 18px;
}

#fireElemHealth {
    margin-top: -16%;
}

.health {
    color: red;
    font-family: Gothic;
}

.scrollBox {
    margin-top: 40%;
    width: 100%;
    overflow: auto;
    max-height: 50%;
    color: yellow;
    font-size: 20px;
    font-family: Gothic;
}

.scrollBoxInfo {
    margin-top: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

input[type="text"] {
    border: 0;
    border-bottom: 3px solid black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: transparent;
    outline: none;
    height: 60px;
    width: 100%;
    color: whitesmoke;
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
    /* text-shadow: 0 1px 1px #000; */
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  whitesmoke;
    opacity: 0.5;
}

.logInButton {
    background: transparent;
    border:2px solid black;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:40px;
    font-weight:400;
    padding:6px 0;
    text-decoration:none;
    text-align: center;
    margin: 10px 0;
    height: 200%;
    transition: all 0.3s ease 0s;
    width: 100%;
    font-family: Gothic;
}
.logInButton:hover {
    color: red;
    background-color:black;
}
.logInButton:active {
    position:relative;
    top:1px;
}

.actionButton {
    height: auto;
}

.name {
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Gothic;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0 10%;
    }

    .methodHeading {
        width: 42%;
    }
}

@media screen and (max-width: 767px) {

    .col-2 {
        display: none;
    }

    .col-8, .container {
        width:100%;
        padding: 0;
    }

    h1 {
        padding-top: 0;
    }

    .buttonMain {
        margin: 0 0.3%;
        width: 99.4%;
    }

    .methodHeading {
        width: 62%;
    }
}
