@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import pages._
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        @*<!--<title>@title</title>
        *<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        *<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        *<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>-->
        *@

        <meta charset="UTF-8">
        <title>Example - example-select-ngrepeat-production</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/animationAng.css")">


        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

        <script src="@routes.Assets.at("javascripts/app.js")"></script>



    </head>
    <body ng-app="ngIndexApp" ng-controller="ExampleController">
    @* And here's where we render the `Html` object containing
         * the page content. *@
        @LogInBox()
        @FireElemental()

    </body>
</html>
